/*

   Agency Landing Page template styles.
    
*/

/****** Fonts ******/

@import url('https://fonts.googleapis.com/css?family=Droid+Sans');

@import url('https://fonts.googleapis.com/css?family=Work+Sans');

/****** Override Bootparts styles ******/

.center-aligned-headline {
    padding-top: 30px;
    padding-bottom: 22px;
}

.three-column-content {
    background: #fff;
}


.two-column-footer {
    margin-top: 20px;
}


.two-column-footer {
    background: #000;
}

.two-column-footer .list-title {
    color: #999;
}

.two-column-footer a {
    color: #f4d425;
}
/****** Template custom styles ******/

body {
    font-family: 'Droid Sans', sans-serif;
}

.three-column-content-bottom {
    padding-top: 50px;
    padding-bottom: 100px;
}

.logo {
    width: 50%;
    height: 50%;
}

.coding-services-img {
    height: 40%;
    width: 40%;
}